{{> head }}
{{> navbar}}

    <div class="row">
        <div class="col-8">
            <h1 class="title">Monkey D. Luffy</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum suscipit dicta voluptates? Voluptas modi velit inventore molestias perspiciatis! Perspiciatis odit ipsa nam tempora impedit deleniti! Ducimus non aliquid facere quam.</p>
        </div>
        <div class="col-4">
            <img class="img-thumbnail" src="../public/assets/img/luffy.jpg" alt="Monkey D. Luffy image">
        </div>
    </div>

{{> footer }}